body{ background-color: black; }
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}
div#global_container{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid green;
	background-color: black;
}