body{ background-color: black; }
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}
div#global_container{
	width: 800px;
	min-height: 400px;
	margin: 0 auto;
	margin-top: 40px;
	border: 1px solid green;
	background-color: black;
}



/* Id Square */
div#id_square{
	width: 20px;
	height: 20px;
	overflow: hidden;
	background-color: white;
}
/* bit */
.bit{
	width: 4px;
	height: 4px;
	float: left;
}
